.table-editor-hahaha {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  &.full-width {
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }

  & > tbody > tr > td {
    border: 1px solid #000;
    margin: 0;
    padding: 0;

    & > div.cell-content {
      padding: 0 7px;
      height: 100%;
      min-height: 30px;
      outline: none;
      word-break: break-word;
    }
  }
}
